  <div class="footer">
    <footer class="flex-rw">
      <ul class="footer-list-top">
        <li><h4 class="footer-list-header">Navigations</h4></li>
        <li><a routerLink="/accueil" class="nav nav-link generic-anchor footer-list-anchor">Accueil</a></li>
        <li><a routerLink="/sondage" class="nav nav-link generic-anchor footer-list-anchor">Sondage</a></li>
        <li><a routerLink="/archive" class="nav nav-link generic-anchor footer-list-anchor">Archive</a></li>
        <li><a routerLink="/instructions" class="nav nav-link generic-anchor footer-list-anchor">Tutoriel</a></li>
      </ul>
      
      <ul class="footer-list-top">
        <li id='help'><h4 class="footer-list-header"> Informations</h4></li>
        <li><p class="generic-anchor footer-list-anchor"><i class="fas fa-map-signs"></i> 123 Chemin de l'invention, DreamCity</p></li>
        <li><p class="generic-anchor footer-list-anchor"><i class="fas fa-phone"></i> 1234567890</p></li>
        <li><a class="generic-anchor footer-list-anchor" target="_blank" href="exemple@exmple.fr"><i class="fas fa-envelope"></i> exemple@exmple.fr</a></li>
      </ul>
    </footer>
  </div>