<div class="container-fluid">
    <h4 class="titreSondage">Sondages actuelles</h4>
    <div class="cardSondage" style="width: 18rem;" >
        <div class="card-body" *ngFor="let sondage of sondages; let i = index">
            <h5 class="card-title">{{sondage.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{sondage.subtitle}}</h6>
            <p class="card-text">{{sondage.description}}</p>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
                Rue Lafonte
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
                Place Delacour
            </label>
        </div>
    </div>
</div>