<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h5 class="titreNavbar" style="color: white;">RéférundHomme</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="loggedIn === false" class="nav-item">
          <a routerLink="/accueil" class="nav-link">Accueil</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a routerLink="/admin/accueil" class="nav-link">Admin-Actualitées</a>
        </li>

        <li *ngIf="loggedIn === false" class="nav-item">
          <a routerLink="/sondage" class="nav-link">Sondage</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a routerLink="/admin/sondage" class="nav-link">Admin-Sondage</a>
        </li>

        <li *ngIf="loggedIn === false" class="nav-item">
          <a routerLink="/archive" class="nav-link">Archive</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a routerLink="/admin/archive" class="nav-link">Admin-Archive</a>
        </li>

        <li *ngIf="loggedIn === false" class="nav-item">
          <a routerLink="/instructions" class="nav-link">Tutoriel</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a routerLink="/admin/instructions" class="nav-link">Admin-Tutoriel</a>
        </li>
        
        <li *ngIf="loggedIn === false" class="nav-item">
          <a routerLink="/admin/login" class="nav-link">Se connecter</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a class="nav-link" (click)= "onSignOut()">Se déconnecter</a>
        </li>
      </ul>
    </div>
  </nav>