<div class="rounded shadow bg-white p-5">
    <h3 class="font-weight-light">Nouvelle actualitée</h3>
    <hr class="mt-0 bg-dark">
    <button class="btn btn-primary m-1 float-right" (click)="resetActualiteForm()"><i class="fas fa-plus"></i> Ajouter une news</button>
    <form [formGroup]="actualiteForm" class="py-5" (ngSubmit)="onSaveActualite()">
        <input type="text" formControlName="id" hidden>
        <div class="form-group">
            <textarea class="form-control" id="title" placeholder="Titre" formControlName="title"
            rows="1"></textarea>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="description" placeholder="Description" formControlName="description"
            rows="5"></textarea>
        </div>
        <button class="btn btn-primary float-right" type="submit" [disabled]="actualiteForm.invalid">Enregistrer</button> 
    </form>
    <hr class="mt-1 mb-5 bg-dark">
    <div class="row">
        <div *ngFor="let actualite of actualites; let i = index" class="col-12 shadow-sm p-4 mb-3 bg-light">
            <div class="row">
                <h3 class="font-weight-normal pl-3">{{actualite.title}}</h3>
                <div class="ml-auto">
                    <button class="btn btn-primary m-1" (click)="onEditActualite(actualite, i)"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-danger m-1" (click)="onDeleteActualite(actualite)"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
            <p class="">{{actualite.description}}</p>
        </div>
    </div>
</div>