<div class="container-fluid">
  <h4 class="titreNews" style="text-align: center;">Actualitées</h4>
<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">

        <div class="carousel-item active" style="height: 640px;">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../../assets/pictures/elliot.png" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">News 1</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
              </div>
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>

        <div class="carousel-item" style="height: 640px;">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../../assets/pictures/156540_435651793148312_403851534_n[1].jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">News 2</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
              </div>
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>

        <div class="carousel-item" style="height: 640px;">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../../assets/pictures/552054_430325027014322_514995477_n[2].jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">News 3</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
              </div>
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>  

<h4 class="titreSondage">Sondage en cours</h4>
<div class="voteActuelle container-fluid">
  <div class="cardSondage" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Bibliothèque</h5>
      <h6 class="card-subtitle mb-2 text-muted">Rue Lafonte ou Place Delacour ?</h6>
      <p class="card-text">La construction d'une nouvelle bibliothèque débutera d'ici début 2020, celle-ci vient remplacer l'ancienne, devenu trop petite pour 
        le nombre de citoyens grandissant de notre ville.
        La mairie est a présent partager entre 2 emplacements, nous attendons votre avis avant de choisir.
      </p>
      <a routerLink="/sondage" class="card-link">Passer au sondage</a>
    </div>
  </div>

  <div class="cardSondage" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Musée</h5>
      <h6 class="card-subtitle mb-2 text-muted">18e arrondissement ou Impasse de la culture ?</h6>
      <p class="card-text">La construction d'un nouveau musée débutera d'ici début 2020, celle-ci vient remplacer l'ancienne, devenu trop petite pour 
          le nombre de citoyens grandissant de notre ville.
          La mairie est a présent partager entre 2 emplacements, nous attendons votre avis avant de choisir.</p>
      <a routerLink="/sondage" class="card-link">Passer au sondage</a>
    </div>
  </div>
</div>